.secret-session-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column {
  flex: 1;
  padding: 20px;
}

.logo-image {
  max-width: 100%;
  margin-bottom: 20px;
  max-width: 400px;
}

.session-info i {
  justify-content: center;
  padding-left: 10px;
  margin-right: 5px; /* Añade espacio entre el ícono y el texto */
  color: #fff; /* Mantiene el ícono en blanco o el color que prefieras */
}

.session-info p {
  font-size: 1rem; /* Tamaño del texto */
  margin-bottom: 15px; /* Espaciado entre las líneas */
}


/* Responsividad */
@media (max-width: 768px) {
  .secret-session-container {
    flex-direction: column;
    text-align: center;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .logo-image {
    max-width: 100%;
    margin-bottom: 75px;
    max-width: 300px;
  }

}

